.banner{
    background:url(./imgs/bg-custom.png);
    background-repeat: no-repeat;
    background-size: cover;
    color:var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
}

.banner__texto{
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa{
    background-color: transparent;;
    color: var(--branco);
    border: solid 1px;
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner__pesquisa::placeholder{
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background: url(./imgs/Pesquisa.svg) no-repeat;
    background-position: 1em;
}

@media screen and (min-width: 1024px){

    .banner__titulo{
        font-size: 36px;
    }

    .banner__pesquisa{
        width: 50%;
    }

    .banner__pesquisa::placeholder{
        background-position: 6em;
    }
}

@media screen and (min-width: 1728px){

    .banner__pesquisa{
        width: 35%;
    }

    .banner__pesquisa::placeholder{
        background-position: 8em;
    }

    .banner{
        padding: 6em;
    }
}