hr{
    margin: 0;
}

.rodape{
    background: var(--cor-de-fundo);
    padding: 1em;
}

.rodape__titulo{
    color: var(--amarelo-df);
}

.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px){

    .rodape{
        display: flex;
        justify-content: space-around;
    }

    .rodape__titulo{
        font-size: 24px;
    }

    .lista-rodape{
        display: block;
    }
    
    .lista-rodape__item{
        display: flex;
        align-items: center;
        margin: 0.5em 0;
    }

    .lista-rodape__link{
        color: var(--cinza);
        text-decoration: none;
        transition: 0.5s;
    }

    .lista-rodape__link:hover{
        color: var(--amarelo-df)
    }


    .lista-rodape__titulo{
        color: var(--branco);
        font-size: 14px;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 1728px){
    .lista-rodape{
        border-left: 1px solid var(--cinza-titulo);
        padding-left: 1em;
    }

    .rodape{
         padding: 3em 0;
    }
}